<template>
  <div class="w-full fixed left-0 bottom-0 z-50">
    <div
      class="
        bottom-navigation
        w-full flex justify-center
        px-[20px] py-[24px]
      "
    >
      <button
        class="btn py-[12px] flex-1 text-white"
      >
        Kostenlos Registrieren
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BottomFixedNavigation'
}
</script>

<style scoped>
.bottom-navigation {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-top: 1px solid #707070;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
}
button.btn {
  background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
}
</style>
