<template>
  <div class="h-screen-full pt-[100px] hero-banner">
    <h1 class="heading text-center text-[42px] text-[#2D3748] font-medium">
      Deine Job
      <br>
      website
    </h1>
    <div class="flex justify-center pb-[20px]">
      <img
        class="flex-1"
        src="~/static/hero-banner.svg"
      />
    </div>
    <div class="h-[150px] overflow-hidden">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path
          d="M-3.10,70.56 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          class="stroke-0 fill-[#ffffff]"
        ></path>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeroBanner'
}
</script>

<style scoped>
.hero-banner {
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}

h1.heading {
  letter-spacing: 1.26px;
  color: #2D3748;
}
</style>
