<template>
  <div>
    <div class="tab-heading px-[20px] overflow-x-auto block md:flex md:justify-center">
      <span class="relative z-0 inline-flex shadow-sm rounded-md">
        <button
          v-for="(tabItem, index) in tabItems"
          :key="index"
          :class="{
            'active': tabItem === currentTab,
            'rounded-l-md': index === 0,
            'rounded-r-md': index === (tabItems.length - 1),
          }"
          type="button"
          class="relative inline-flex items-center px-[32px] py-[12px] border border-gray-300 bg-white text-[14px] font-bold hover:bg-gray-50"
          v-text="tabItem.label"
          @click="setTab(tabItem)"
        />
      </span>
    </div>
    <div class="tab-content pt-[30px]">
      <div class="px-[40px] pb-[20px]">
        <h2
          class="font-medium text-[21px] text-[#4A5568] text-center"
          v-text="currentTab.content.headline"
        />
      </div>
      <!-- first section -->
      <div class="first-section pb-[100px] relative">
        <div class="pl-[100px] z-10">
          <img :src="currentTab.content.firstSectionImage" />
        </div>

        <div
          class="circle w-[208px] h-[208px] absolute bottom-[-80px] left-[-20px] bg-[#F7FAFC] opacity-[0.5] rounded-full"
        />
        <div class="absolute top-[70px] left-[10px]">
          <span
            class="text-[150px] text-[#718096] font-normal"
            v-text="'1.'"
          />
          <span
            class="text-[16px] text-[#718096] font-normal ml-[21px]"
            v-text="currentTab.content.firstSection"
          />
        </div>
      </div>
      <div class="h-[150px] overflow-hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path
            d="M-3.67,28.13 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            class="stroke-0 fill-[#E6FFFA]"
          />
        </svg>
      </div>
      <!-- second section -->
      <div class="second-section pt-[100px] relative z-10">
        <div class="absolute top-[-100px] left-[35px] flex">
          <span
            class="text-[150px] text-[#718096] font-normal"
            v-text="'2.'"
          />
          <span
            class="text-[16px] text-[#718096] font-normal ml-[21px] mb-[50px] max-w-[180px] flex flex-col justify-end"
            v-text="currentTab.content.secondSection"
          />
        </div>
        <div class="pl-[110px]">
          <img :src="currentTab.content.secondSectionImage" />
        </div>
        <div class="h-[150px] overflow-hidden relative z-0">
          <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path
              d="M-3.10,70.56 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              class="stroke-0 fill-[#ffffff]"
            ></path>
          </svg>
        </div>
      </div>
      <!-- third section -->
      <div class="third-section py-[100px] relative">
        <div class="absolute top-[-100px] left-[54px] z-20 flex">
          <span
            class="text-[150px] text-[#718096] font-normal"
            v-text="'3.'"
          />
          <span
            class="text-[16px] mb-[50px] text-[#718096] font-normal ml-[21px] max-w-[150px] flex flex-col justify-end"
            v-text="currentTab.content.thirdSection"
          />
        </div>
        <div
          class="circle z-0 w-[303px] h-[303px] z-10 absolute top-[-80px] left-[-60px] bg-[#F7FAFC] rounded-full"
        />
        <div class="pl-[100px] z-20 relative">
          <img :src="currentTab.content.thirdSectionImage" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TabContent',
  data: () => ({
    tabItems: [
      {
        label: 'Arbeitnehmer',
        content: {
          headline: 'Drei einfache Schritte zu deinem neuen Job',
          firstSection: 'Erstellen dein Lebenslauf',
          firstSectionImage: require('~/static/first-section-1st-img.svg'),
          secondSection: 'Erstellen dein Lebenslauf',
          secondSectionImage: require('~/static/first-section-2nd-img.svg'),
          thirdSection: 'Mit nur einem Klick bewerben',
          thirdSectionImage: require('~/static/first-section-3rd-img.svg')
        }
      },
      {
        label: 'Arbeitgeber',
        content: {
          headline: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
          firstSection: 'Erstellen dein Unternehmensprofil',
          firstSectionImage: require('~/static/first-section-1st-img.svg'),
          secondSection: 'Erstellen ein Jobinserat',
          secondSectionImage: require('~/static/second-section-2nd-img.svg'),
          thirdSection: 'Wähle deinen neuen Mitarbeiter aus',
          thirdSectionImage: require('~/static/second-section-3rd-img.svg')
        }
      },
      {
        label: 'Temporärbüro',
        content: {
          headline: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
          firstSection: 'Erstellen dein Unternehmensprofil',
          firstSectionImage: require('~/static/first-section-1st-img.svg'),
          secondSection: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
          secondSectionImage: require('~/static/third-section-2nd-img.svg'),
          thirdSection: 'Vermittlung nach Provision oder Stundenlohn',
          thirdSectionImage: require('~/static/third-section-3rd-img.svg')
        }
      }
    ],
    currentTab: null
  }),
  created () {
    this.currentTab = this.tabItems[0]
  },
  methods: {
    setTab (tab) {
      this.currentTab = tab
    }
  }
}
</script>

<style scoped>
.tab-heading button {
  letter-spacing: 0.84px;
  color: #319795;
}

.tab-heading button.active {
  color: #E6FFFA;
  background: #81E6D9 0% 0% no-repeat padding-box;
  border: 0;
}

.tab-heading::-webkit-scrollbar {
  display: none;
}

.second-section {
  background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
}
</style>
