<template>
  <div class="w-full fixed top-0 left-0 z-50">
    <div class="line w-full h-[5px]" />
    <div class="login-box flex justify-end">
      <a href="#" class="pt-[26px] pb-[22px] pr-[17px] text-[#319795]">Login</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopFixedNavigation'
}
</script>

<style scoped>
.line {
  background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
}

.login-box {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
}
</style>
