<template>
  <div>
    <TopFixedNavigation />
    <HeroBanner />
    <TabContent />
    <BottomFixedNavigation />
  </div>
</template>

<script>
export default {}
</script>

<style>
body {
  font-family: Lato, san-serif;
}
</style>
